.signup{
    border: 2px solid black;
    background-color: white;
    border-radius: 25px;
    width: 300px;
    height: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 5px rgb(177, 175, 175);
    font-family: 'Arial Black', Gadget, sans-serif;
    position: absolute;
    left: 40%;
    top: 100px;
}

.email, .password, .name, .surname, .re_password, .username{
    margin-top: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
    background-color: white;
    outline: none;
}

.email:hover, .password:hover, .name:hover, .surname:hover, .re_password:hover, .username:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transition: 500ms;
}

.email:invalid, .password:invalid, .re_password:invalid{
    border-bottom: 1px solid red;
}

.signup label{
    display: none;
}

.submit{
    margin-top: 50px;
    padding: 5px;
    width: 200px;
    height: 30px;
    background-color: rgb(63, 63, 236);
    outline: none;
    border: none;
    border-radius: 15px;
    color: white;
}

.submit:hover{
    background-color: orange;
    color: black;
    transition: 500ms;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}